body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Page-level styles*/
.footballmatch {
list-style: none;

}

.footballmatch > li 
{
    position: relative;
    margin-bottom: 30px;
}

.footballmatch > li .details
{
    position: absolute;
    top: 0;
    left: 70px;
    font-weight: bold;
    display: block;
}

.footballmatch > li .date 
{
    background: red;
    color: white;
    text-align: center;
    width: 50px;
    border-radius: 5px;
}

.footballmatch > li .date .month
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
}

.footballmatch > li .date .day 
{
    background: #f7f7f7;
    color: #333;
    font-size: 17px;
    padding: 3px;
}

.footballmatch > li .details .hour 
{
    display: block;
    font-weight: normal;
}

.footballmatch > li .details .button 
{
    position:absolute;
    top:12px;
    left: 250px;
    display: block;
}

.footballmatch > li .actions 
{
    font-size: 12px;
    display: none;
}

.footballmatch > li:hover .actions 
{
    display: block;
}

.footballmatch > li .details .score 
    {
    position:absolute;
    top:12px;
    left: 250px;
    }