html {
  height: 100%;
  box-sizing: border-box;
}

body {
    padding-top: 25px;
    padding-bottom: 20px;
    min-height:100%;
    padding-bottom: 6rem;
    position: relative;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    height:100%;
    position:relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Page-level styles*/
.footballmatch {
    list-style: none;
}

    .footballmatch > li {
        position: relative;
        margin-bottom: 30px;
    }

        .footballmatch > li .details {
            position: absolute;
            top: 0;
            left: 70px;
            font-weight: bold;
            display: block;
        }

        .footballmatch > li .date {
            background: red;
            color: white;
            text-align: center;
            width: 50px;
            border-radius: 5px;
        }

            .footballmatch > li .date .month {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                padding: 5px 5px;
            }

            .footballmatch > li .date .day {
                background: #f7f7f7;
                color: #333;
                font-size: 17px;
                padding: 3px;
            }

        .footballmatch > li .details .hour {
            display: block;
            font-weight: normal;
        }

        .footballmatch > li .details .button {
            position: absolute;
            top: 12px;
            left: 250px;
            display: block;
        }

        .footballmatch > li .actions {
            font-size: 12px;
            display: none;
        }

        .footballmatch > li:hover .actions {
            display: block;
        }

        .footballmatch > li .details .score {
            position: absolute;
            top: 12px;
            left: 250px;
        }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.grid-item {
    width: 100%;
    margin-right: 0%;
    padding: 0px;
}

.grid-item-middle {
    width: auto;
    margin-left: 0%;
    margin-right: 2%;
    padding: 50px;
}

/* Upcoming events */

.upcoming-events {
    margin-top: 0px;
    padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 5%;
  height: 90%;
  margin-bottom: 15%;
  position: relative;
}

.wrapper > * {
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; order: 2;}
  .aside-1 { order: 1; } 
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.main {
  text-align: left;
  margin-right: 5%;
  margin-top: 5%;
  height: 100%;
}

.aside{
    margin-right: 0px;
    height:100%;
}

table {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table tr:first-child +tr { background-color: gold; }

tr:first-child + tr +tr { background-color: silver;}

