@model Zaklady.ViewModels.UsersViewModel
<h2>Najlepsi użytkownicy:</h2>
<br /><br />
<table class="table">
    <tr style="background-color:black; color:lightgray; width: 350px;" >
        <th width=50>Miejsce:</th>
        <th width=100>Imię:</th>
        <th width=150>Email:</th>
        <th width=50><center>Punkty:</center></th>
    </tr>

    @foreach (var user in Model.UsersList.OrderByDescending(m => m.UserPoints))
    {
        <tr>
            <td><center></center></td>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td><center>@user.UserPoints</center></td>
        </tr>

    }
</table>
