<sidebar>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content">
                <li>
                    <a href="@Url.Action("CreateFootballMatch", "FootballMatch")">
                        <i class="fa fa-dashboard fa-lg"></i> Strona główna
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Wydarzenia <span class="arrow"></span></a>
                </li>

                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="@Url.Action("UpcomingEvents", "FootballMatch")">Nadchodzące</a></li>
                    <li><a href="#">Ostatnio zakończone</a></li>
                    <li><a href="#">Dodane</a></li>
                    <li><a href="@Url.Action("CreateFootballMatch", "FootballMatch")">Dodaj</a></li>
                    <li><a href="#">Zakończ wydarzenie</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Moje zakłady <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>


                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Panel użytkownika
                    </a>
                </li>

              
            </ul>
        </div>
    </div>
</sidebar>