
@model IEnumerable<Zaklady.Models.Bet>
@{
    ViewBag.Title = "Home Page";
}
<ul class="footballmatch">
    @foreach (var footballMatch in Model)
    {
        <li>
            <div>
                    @footballMatch.BetId
                    @footballMatch.HomeTeamBetGoals
                    @footballMatch.AwayTeamBetGoals
            </div>
        </li>
    }
</ul>