<div class="body">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/Images/logo.png" style="width:100%; height:auto" />
            <p></p>
            <div class="row">

                <div class="col-xs-2">
                    <h4>Weź udział w zabawie!</h4>
                    <h5>
                        Weź udział w lidze bukmaherskiej, wytypuj swoich zwycięzców i zostań liderm klasyfikacji!
                        <br /><br /><button class="btn btn-primary">Dołącz teraz!</button>
                    </h5>
                </div>

                <div class="col-xs-5">
                    <h4>Lorem ipsum</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

                <div class="col-xs-5">
                    @Html.Partial("Slider")
                </div>
            </div>

        </div>
    </div>
</div>
